<h1>Register</h1>


<form action="/create" method="post">
<label for="name">Name</label>
<input type="text" name="name" id="name">
<label for="username">username</label>
<input type="text" name="username" id="username">
<label for="email">email</label>
<input type="text" name="email" id="email">
<label for="password">password</label>
<input type="password" name="password" id="password">
<button type="submit">SUBMIT</button>
</form>